{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}


<div class="pub-list-item view-citation" style="margin-bottom: 1.5rem; line-height: 1.6;">
  <i class="far fa-file-alt pub-icon" aria-hidden="true" style="float: left; margin-top: 4px;"></i>
  <div style="margin-left: 25px;">
    
    <div class="article-title" style="font-weight: bold; font-size: 1.1rem; color: #333;">
      {{ if $item.Params.url_external }}
        <a href="{{ $item.Params.url_external }}" target="_blank" rel="noopener">{{ $item.Title }}</a>
      {{ else }}
        {{ $item.Title }}
      {{ end }}
    </div>

    <div class="article-metadata li-cite-author" style="color: #555; margin: 4px 0;">
      {{ partial "page_metadata_authors" $item }}
    </div>

    <div class="article-metadata" style="font-style: italic; color: #666;">
      {{ if $item.Params.publication_short }}
        {{- $item.Params.publication_short | markdownify -}}
      {{ else if $item.Params.publication }}
        {{- $item.Params.publication | markdownify -}}
      {{ end }}

      {{/* 如果您的 index.md 中定义了 volume, number 等字段 */}}
      {{ with $item.Params.volume }} <span>, Vol. {{ . }}</span>{{ end }}
      {{ with $item.Params.number }} <span>, No. {{ . }}</span>{{ end }}
      {{ with $item.Params.page }} <span>, pp. {{ . }}</span>{{ end }}
      <span>, {{ $item.Date.Format "2006" }}</span>
    </div>

    <div class="btn-links" style="margin-top: 8px;">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
  </div>
</div>
