// Override this file to add your own SCSS styling.


.user-icon-avatar {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  font-size: 4rem;
  margin: 0 auto;
  object-fit: cover;
  color: #666;
}

#section-hero {
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }
  .hero-lead {
    font-size: 0.8rem;
  }
}

#section-news {
  h1 {
    font-size: 1.4rem;
  }

  .card-simple .article-title {
    font-size: 0.8rem;
  }
  .card-simple .article-style {
    font-size: 0.8rem;
  }


}

@media (max-width: 478px) {
  .navbar-brand {
    margin: 0 auto;
  }
}
/* 限制论文列表中预览图的大小 */
.pub-list-item img {
  max-width: 200px ; /* 限制最大宽度 */
  max-height: 150px ; /* 限制最大高度 */
  object-fit: contain; /* 保持图片比例不被拉伸 */
  margin-bottom: 10px;
}
